@font-face {
    font-family: 'PretendaredM';
    src: url('./fonts/Pretendard-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'PretendardSB';
    src: url('./fonts/Pretendard-SemiBold.ttf');
}

@font-face {
    font-family: 'PretendardB';
    src: url('./fonts/Pretendard-Bold.ttf');
}

html {
    scroll-behavior: smooth; /* 스크롤 애니메이션 */
}

body {
    margin: 0;
}

section {
    padding: 40px;
}

/* header */
header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 4rem;
    background-color: white;
    border-bottom: 1px solid #D9D9D9;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#header_menu a{
    text-align: center;
    color: #787878;
    font-family: 'PretendardM', sans-serif; 
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: -0.16px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

#header_menu a:hover {
    color: #6D24FF;
    font-size: 20px;
    font-weight: 700;
}

/* firstPage */
#first_page {
    text-align: center;
    background-color: #F3F4FF;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#txt_welcome {
    font-family: 'PretendardB', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 4rem;
}

/* aboutMe page */
    /* profile */
#txt_title {
    font-family: 'PretendardB', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 80px;
}

#profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
}

#profile_txt_area {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.profile_txt {
    font-family: 'PretendardM', sans-serif;
    font-size: 20px;
    line-height: 4rem;
}

    /* category */
#category {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-top: 40px;
}

.sub_title {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

#txt_subtitle {
    font-family: 'PretendardM', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #909090;
    padding: 0px 40px;
}

.line {
   display: flex;
   flex-basis: 100%;
   align-items: center;
   
   margin: 8px 0px
}

.line::before {
    content: "";
    flex-grow: 1;
    margin: 0px 16px;
    background: linear-gradient( to right, white, #DFDFDF );
    height: 2px;
    font-size: 0px;
    line-height: 0px;
    margin-right: 16px;
}

.line::after {
    content: "";
    flex-grow: 1;
    margin: 0px 16px;
    background: linear-gradient( to left, white, #DFDFDF );
    height: 2px;
    font-size: 0px;
    line-height: 0px;
    margin-left: 16px;
}

.content_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 30%;
}

.content {
    display: flex;
    align-items: center;
    text-align: left;
}

#txt_date {
    margin-left: 1rem;
    font-family: 'PretendardM';
    font-size: 16px;
    font-weight: 500;
    color: #222;
    opacity: 60%;
}

#txt_content {
    margin-left: 2rem;
    font-family: 'PretendardM';
    font-size: 18px;
    font-weight: 500;
    color: #222;
}